@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>RepoMaster - Generic Repository Example Website</h2>
    <p class="lead">
        This website will serve as an example on how too use RepoMaster over time I will extend the functionality demonstrated here.
    </p>
    <p><a href="https://github.com/wlandeck/RepoMaster" target="_blank" class="btn btn-primary btn-large">RepoMaster Source Code &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>
            This repository currently illustrates inserts, deletes and updates with tables using a integer as a primary key (Product) and a guid as a primary key (Task).
            The task controller has an example on how to filter data for a query. More to follow soon.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Nuget Packet</h2>
        <p>
            A nuget package has been created to simplify usage of the generic repository class library
        </p>
        <p><a class="btn btn-default" href="https://www.nuget.org/packages/RepoMaster.EntityFramework/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>
